@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-hue: 250;
  --light-hue: 230;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --color-border: var(--dark-hue), 15%, 14%;
  }
}

.light {
  /* main */
  --color-app: var(--light-hue), 5%, 100%;
  --color-app-input: var(--light-hue), 5%, 100%;
  --color-app-focus: var(--light-hue), 5%, 98%;
  --color-app-line: var(--light-hue), 5%, 90%;
  --color-app-button: var(--light-hue), 5%, 100%;
  --color-app-divider: var(--light-hue), 5%, 80%;
  --color-app-selected: var(--light-hue), 5%, 93%;
  --color-app-selected-item: var(--light-hue), 5%, 96%;
  --color-app-hover: var(--light-hue), 5%, 97%;
  --color-app-active: var(--light-hue), 5%, 87%;


  /* text */
  --color-ink: var(--light-hue), 5%, 20%;
  --color-ink-dull: var(--light-hue), 5%, 30%;
  --color-ink-faint: var(--light-hue), 5%, 40%;

  /* accent */
  --color-accent: 208, 100%, 57%;

  --color-sidebar: var(--light-hue), 5%, 96%;
  --color-sidebar-selected: var(--light-hue), 10%, 80%;
  --color-sidebar-ink: var(--light-hue), 5%, 20%;
  --color-sidebar-ink-dull: var(--light-hue), 5%, 30%;
  --color-sidebar-ink-faint: var(--light-hue), 5%, 40%;
  --color-sidebar-divider: var(--light-hue), 15%, 93%;
}

body {
  color: rgb(var(--foreground-rgb));
}

button {
  @apply cursor-default;
}

* {
  border-color: hsl(var(--color-border));
}
